# Ignore node_modules folder
node_modules/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files and other build artifacts
/dist
/build

# Ignore all .env files
.env
repository/.env

